<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | JiwaKu Sehat</title>
  </head>
  <body>
    <main class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
      <div class="text-center p-5 bg-white shadow rounded">
        <h1 class="display-4 text-primary mb-3">
          Selamat Datang di Jiwa Ku Sehat Starter App
        </h1>
        <h2 class="h4 text-secondary mb-4">
          Menerapkan Bootstrap pada Jiwa Ku Sehat App
          <i class="bi bi-cash-coin ms-2"></i>
        </h2>
        <button class="btn btn-primary btn-lg">
          Memulai
          <i class="bi bi-caret-right ms-2"></i>
        </button>
      </div>
    </main>
  </body>
</html>
